# Xcode
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/

# Swift Package Manager
.build/
.swiftpm/

# CocoaPods / Carthage (not used by default, kept for safety)
Pods/
Carthage/Build/

.DS_Store
